%flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

html, body {
    font-size: 16px;
    // background-color: #838181;
    background-image: url("swirl_pattern.png");

    .App, .screen {
        position: relative;
        display: flex;
        flex-direction: column;
        max-height: 600px;
        min-height: 600px;
        padding: 20px 15px 10px;
        align-items: center;
        border: 1px solid #000;
        border-radius: 3rem;
        // box-shadow: 10px 10px 10px #5f7575;
        // background-color: #000;
        background-color: rgb(216, 202, 202);

        .iphone-top {
            position: absolute;
            top: 20px; left: 30%;
            width: 40%;
            height: 15px;
            border-radius: 0 0 15px 15px;
            border: 1px solid #000;
            border-top: none;
            background-color: rgb(216, 202, 202);
            z-index: 999;
        }

        .screen {
            min-height: 500px;
            height: 500px;
            padding: 20px;
            border-radius: 2rem 2rem 0 0;
            box-shadow: none;
            background-color: #fff;
            overflow: scroll;

            .card {
                @extend %flexbox;
                width: 320px;
    
                    .input_name,
                    .input_text {
                        width: 100%;
                        display: block;
                        font-size: 1rem;
                        outline: none;
                        resize: none;
                        background-color: transparent;
                    }

                    .input_text {
                        min-height: 70px;
                        overflow: hidden;
                        background-color: #dee7d9;
                    }

                    .input_name {
                        height: 3rem;
                        margin: .5rem;
                        border: none;
                        border-bottom: 1px solid grey;
                        font-size: 1.5rem;
                    }
                
                    // .trans_on {
                    //     transition: height .5s;
                    // }

                    // .trans_off {
                    //     transition: none;
                    // }
    
                    // .in {
                    //     height: 0px !important;
                    // }
            
                    // .out {
                        // height: 70px !important;
                        // height: auto !important;
                    // }



                    // textarea {
                    //     overflow: hidden;
                    //     width: 100%;
                    //     height: 100%;
                    //     box-sizing: border-box; 
                    //     resize: none;  
                    // }
            }

            .bambi {
                overflow: hidden;
                background-color: #59fc0e;
                // padding: 10px;
                // height: 0;
            }

            .trans_on {
                transition: .5s;
            }

            .trans_off {
                transition: none;
            }

            .in {
                // height: 0px;
                height: 0px;
                // transform: translateY(-100%)
            }
    
            .out {
                // height: 100px;
                height: 100px;
                // transform: translateY(100%)
            }
        }

        .btn {
            width: 50px;
            height: 50px;
            margin-top: 10px;
            padding-bottom: 5px;
            border-radius: 50%;
            font-size: 2rem;
            outline: none;
            border: 1px solid #000;
            cursor: pointer;
            opacity: 0.2;
        }
    }
}