%flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

html, body {
    font-size: 16px;
    background-color: whitesmoke;

    .App, .screen {
        position: relative;
        display: flex;
        flex-direction: column;
        max-height: 600px;
        min-height: 600px;
        padding: 20px 15px 10px;
        align-items: center;
        border: 1px solid #000;
        border-radius: 3rem;
        box-shadow: 10px 10px 10px grey;
        background-color: #000;

        .iphone-top {
            position: absolute;
            top: 18px; left: 30%;
            width: 40%;
            height: 20px;
            border-radius: 0 0 15px 15px;
            background-color: #000;
            z-index: 999;
        }

        .screen {
            min-height: 500px;
            height: 500px;
            padding: 20px;
            border-radius: 2rem 2rem 0 0;
            box-shadow: none;
            background-color: #fff;
            overflow: scroll;

            .card {
                @extend %flexbox;
                width: 320px;
    
                        .input_name,
                        .input_text {
                        display: block;
                        width: 100%;
                        }
    
                        .input_text {
                            resize: none;
                        }
    
                .input_text_collapse_in {
                    height: 20px;
                }
    
                .input_text_collapse_out {
                    height: 50px;
                }
            }
        }

        .btn {
            width: 50px;
            height: 50px;
            margin-top: 10px;
            padding-bottom: 5px;
            border-radius: 50%;
            font-size: 2rem;
            outline: none;
            border: 1px solid #000;
            cursor: pointer;
            opacity: 0.2;
        }
    }
}