%flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

html, body {
    background-color: antiquewhite;
    background-image: url('/images/3061674.jpg');
    background-size: 185% 180%;
    background-position: 22% 60%;
    font-size: 16px;

    .App {
        display: flex;
        flex-direction: column;
        padding: 20px;
        align-items: center;
        border: 1px solid #000;
        border-radius: 1rem;
        background-color: #000;

        .card {
            @extend %flexbox;
            width: 350px;

                    .input_name,
                    .input_text {
                    display: block;
                    width: 100%;
                    // height: 100%;
                    }

                    .input_text {
                        resize: none;
                    }

                    .logo {
                        // width: 70px;
                    }

                    // .input_text_collapse_out {
                    //     height: 50px;
                    // }

                    // .input_text_collapse_in {
                    //     height: 0;
                    // }

            .input_text_collapse_in {
                height: 20px;
            }

            .input_text_collapse_out {
                height: 50px;
            }
        }

        .btn {
            width: 50px;
            height: 50px;
            margin-top: 15px;
            padding-bottom: 5px;
            border-radius: 50%;
            font-size: 2rem;
            outline: none;
            border: none;
            cursor: pointer;
        }
    }
}