html .App .screen .card, html .screen .screen .card, body .App .screen .card, body .screen .screen .card {
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body {
  font-size: 16px;
  background-color: whitesmoke;
}
html .App, html .screen, body .App, body .screen {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 600px;
  min-height: 600px;
  padding: 20px 15px 10px;
  align-items: center;
  border: 1px solid #000;
  border-radius: 3rem;
  box-shadow: 10px 10px 10px grey;
  background-color: #000;
}
html .App .iphone-top, html .screen .iphone-top, body .App .iphone-top, body .screen .iphone-top {
  position: absolute;
  top: 18px;
  left: 30%;
  width: 40%;
  height: 20px;
  border-radius: 0 0 15px 15px;
  background-color: #000;
  z-index: 999;
}
html .App .screen, html .screen .screen, body .App .screen, body .screen .screen {
  min-height: 500px;
  height: 500px;
  padding: 20px;
  border-radius: 2rem 2rem 0 0;
  box-shadow: none;
  background-color: #fff;
  overflow: scroll;
}
html .App .screen .card, html .screen .screen .card, body .App .screen .card, body .screen .screen .card {
  width: 320px;
}
html .App .screen .card .input_name,
html .App .screen .card .input_text, html .screen .screen .card .input_name,
html .screen .screen .card .input_text, body .App .screen .card .input_name,
body .App .screen .card .input_text, body .screen .screen .card .input_name,
body .screen .screen .card .input_text {
  width: 100%;
  display: block;
  font-size: 1rem;
  outline: none;
  resize: none;
  background-color: transparent;
}
html .App .screen .card .input_text, html .screen .screen .card .input_text, body .App .screen .card .input_text, body .screen .screen .card .input_text {
  min-height: 70px;
  overflow: hidden;
  background-color: #dee7d9;
}
html .App .screen .card .input_name, html .screen .screen .card .input_name, body .App .screen .card .input_name, body .screen .screen .card .input_name {
  height: 3rem;
  margin: 0.5rem;
  border: none;
  border-bottom: 1px solid grey;
  font-size: 1.5rem;
}
html .App .screen .bambi, html .screen .screen .bambi, body .App .screen .bambi, body .screen .screen .bambi {
  overflow: hidden;
  background-color: #59fc0e;
}
html .App .screen .trans_on, html .screen .screen .trans_on, body .App .screen .trans_on, body .screen .screen .trans_on {
  transition: 0.5s;
}
html .App .screen .trans_off, html .screen .screen .trans_off, body .App .screen .trans_off, body .screen .screen .trans_off {
  transition: none;
}
html .App .screen .in, html .screen .screen .in, body .App .screen .in, body .screen .screen .in {
  height: 0px;
}
html .App .screen .out, html .screen .screen .out, body .App .screen .out, body .screen .screen .out {
  height: 100px;
}
html .App .btn, html .screen .btn, body .App .btn, body .screen .btn {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  padding-bottom: 5px;
  border-radius: 50%;
  font-size: 2rem;
  outline: none;
  border: 1px solid #000;
  cursor: pointer;
  opacity: 0.2;
}

/*# sourceMappingURL=App.css.map */
